@font-face {
    font-family: 'safe_hamletregular';
    src: url('./assets/fonts/safe-hamlet-webfont.woff2') format('woff2'),
         url('./assets/fonts/safe-hamlet-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'safe_hamletregular';
    font-size: 24px;
    background-image: url("./assets/images/Background.png");
}

#layout {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    border: none;
    width: 100vw;
    height: 100vh;
}

.sides {
    background-image: url("./assets/images/Background.png");
}

.left-border {
    z-index: 100;
    background-image: url("./assets/images/LeftBorder.png");
}

.right-border {
    z-index: 100;
    background-image: url("./assets/images/RightBorder.png");
}
